html,
body {
  font-family: "Metrophobic,Open Sans" !important;
  font-size: 13px !important;
  line-height: 1.4 !important;
  color:#6f6f6f !important;
  
 }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next > div > div:nth-child(1) > div.ant-affix{
  z-index: 11;
}